@font-face {
	font-family: "Avenir W01_n2";
	src: url("/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot")
	}
	
@font-face {
	font-family: "Avenir W01";
	src: url("/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
	src: url("/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),url("/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
	font-weight: 200;
	font-style: normal;
	}
	
@font-face {
	font-family:"Avenir W01_n4";
	src: url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot")
	}
	
@font-face {
	font-family:"Avenir W01";
	src: url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
	src: url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"),url("/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),url("/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),url("/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
	font-weight: 400;
	font-style: normal;
	}
	
@font-face {
	font-family:"Avenir W01_R9";
	src: url("/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot")
	}
	
@font-face {
	font-family:"Avenir W01";
	src: url("/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix");
	src: url("/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot"),url("/fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"),url("/fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"),url("/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
	font-weight: 900;
	font-style: Regular;
	}

@font-face {
	font-family: 'wise';
	src: url('/fonts/wise.eot?8iz0wn');
	src: url('/fonts/wise.eot?#iefix8iz0wn') format('embedded-opentype'),url('/fonts/wise.woff?8iz0wn') format('woff'),url('/fonts/wise.ttf?8iz0wn') format('truetype'),url('/fonts/wise.svg?8iz0wn#wise') format('svg');
	font-weight: normal;
	font-style: normal;
	}

/* Windows Chrome fix to display SVG */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'wise';
        src: url('/fonts/wise.svg#wise') format('svg');
		font-weight: normal;
		font-style: normal;
		}
		
	@font-face {
		font-family: "Avenir W01";
		src: url("/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
		font-weight: 200;
		font-style: normal;
		}
		
	@font-face {
		font-family:"Avenir W01";
		src: url("/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
		font-weight: 400;
		font-style: normal;
		}
		
	@font-face {
		font-family:"Avenir W01";
		src: url("/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
		font-weight: 900;
		font-style: Regular;
		}
}