<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
	<rewrites>
		<!-- Keep This rule at top only -->
		<add name="301ReDirect_To_Non_WWW_Domain" redirectMode="Permanent" redirect="Domain" ignoreCase="true"
				rewriteUrlParameter="IncludeQueryStringForRewrite" virtualUrl="http://www.elasalle.com/(.*)" destinationUrl="http://elasalle.com/$1" />

		<add name="xmlSitemap" ignoreCase="true" redirectMode="Permanent"
			rewriteUrlParameter="ExcludeFromClientQueryString" virtualUrl="^~/sitemap.xml" destinationUrl="~/xmlsitemap" />
		
	</rewrites>
</urlrewritingnet>
