/*

black:			1b1b1c
dark gray:		353538
medium gray:	5c5c60
light gray:		adadb2
red:			ef4035

*/


@font-face {
	font-family: 'lasalle';
	src: url('/fonts/lasalle.eot?-mrpiqr');
	src: url('/fonts/lasalle.eot?#iefix-mrpiqr') format('embedded-opentype'),
	     url('/fonts/lasalle.woff?-mrpiqr') format('woff'),
	     url('/fonts/lasalle.ttf?-mrpiqr') format('truetype'),
	     url('/fonts/lasalle.svg?-mrpiqr#lasalle') format('svg');
	font-weight: normal;
	font-style: normal;
	}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0 !important;
	}
	
html,
button,
input,
select,
textarea {
	background: #fff;
	color: #353538;
	font-family: 'Calibri W01 Cust1', sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.4;	
	}
	
html {
	background: #242425;
	}
	
body {
	background: #fff;
	margin: 0 auto;
	max-width: 1920px;
	}
	
a {
	color: #ef4035;
	text-decoration: none;
	}
	
a:link {
	color: #ef4035;
	}
	
a:visited {
	color: #ef4035;
	}
	
a:hover {
	color: #1b1b1c;
	}
	
a:active {
	color: #ef4035;
	}

::-moz-selection {
    background: #ef4035;
    color: #fff;
	text-shadow: none !important;
	}

::selection {
    background: #ef4035;
    color: #fff;
	text-shadow: none !important;
	}
	
input,
button,
select,
textarea {
	background-color: #fff;
	border-radius: 0;
	}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input.text,
textarea {
	-webkit-appearance: none;
	border: 1px solid #dedee0;
	max-width: 350px;
	padding: 0.75em;
	width: 100%;
	}

select {
	border: 1px solid #dedee0;
	max-width: 350px;
	padding: 0.75em;
	width: 100%;
	}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input.text:focus,
textarea:focus,
select:focus {
	border-color: #616467;
	}
	
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #adadb2;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #adadb2;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	}
	
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #adadb2;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	}
	
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #adadb2;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	}
	
label {
	color: #1b1b1c;
	}
	
a.btn,
input.btn,
div.btn,
input[type="submit"],
button {
	-webkit-appearance: none;
	background-color: #ef4035;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.125em;
	font-weight: 400;
	margin: 0;
	padding: 0.4em 1em;
	text-decoration: none;
	}
	
a.btn:hover,
input.btn:hover,
div.btn:hover,
input[type="submit"]:hover,
button:hover {
    background-color: #343538;
	text-decoration: none;
	}

input.btn:focus,
input[type="submit"]:focus,
button:focus {
    background-color: #343538;
	}
	
a.btn.disabled,
input.btn.disabled,
div.btn.disabled,
input[type="submit"].disabled,
button.disabled {
	background-color: #dedee0;
	color: #9b9c9c;
	cursor: default;
	}

textarea {
    resize: vertical;
	}
	
b,
strong {
	font-weight: 900;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1b1b1c;
	font-family: 'Cambria W01', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	margin: 0.5em 0;
	}
	
h1,
h2 {
	line-height: 1.2;
	}
	
h1 { font-size: 2.5em; }
h2 { font-size: 1.875em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1em; }
	
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin: 32px 0 0.5em 0;
	}
	
img, object, embed {
	height: auto !important;
	max-width: 100%;
	}
	
.video-player {
	border: 1px solid #dedee0;
	margin: 0 auto;
	max-width: 500px;
	padding: 0.25em;
	}

.video-container {
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
	}

.video-container iframe,
.video-container object,	
.video-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}
.small-text {
	font-size: 0.875em;
	}
	
/* ==========================================================================
   Icons
   ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
	font-family: 'lasalle';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

.icon-alert:before { content: "\e609"; }
.icon-atom:before { content: "\e60a"; }
.icon-bag:before { content: "\e60b"; }
.icon-battery:before { content: "\e60c"; }
.icon-bell:before { content: "\e60d"; }
.icon-bicycle:before { content: "\e60e"; }
.icon-book:before { content: "\e60f"; }
.icon-browser:before { content: "\e610"; }
.icon-calculator:before { content: "\e611"; }
.icon-calendar:before { content: "\e612"; }
.icon-camera:before { content: "\e613"; }
.icon-cart:before { content: "\e614"; }
.icon-cassette:before { content: "\e615"; }
.icon-cd:before { content: "\e616"; }
.icon-check:before { content: "\e617"; }
.icon-cinema:before { content: "\e618"; }
.icon-clip:before { content: "\e619"; }
.icon-clipboard:before { content: "\e61a"; }
.icon-clock:before { content: "\e61b"; }
.icon-clock2:before { content: "\e61c"; }
.icon-cloud:before { content: "\e61d"; }
.icon-coffee:before { content: "\e61e"; }
.icon-comments:before { content: "\e61f"; }
.icon-compass:before { content: "\e620"; }
.icon-config:before { content: "\e621"; }
.icon-copy:before { content: "\e622"; }
.icon-cup:before { content: "\e623"; }
.icon-database:before { content: "\e624"; }
.icon-drop:before { content: "\e625"; }
.icon-expand3:before { content: "\e626"; }
.icon-file:before { content: "\e627"; }
.icon-flag:before { content: "\e628"; }
.icon-flowchart:before { content: "\e629"; }
.icon-game:before { content: "\e62a"; }
.icon-gamepad:before { content: "\e62b"; }
.icon-gear:before { content: "\e62c"; }
.icon-globe:before { content: "\e62d"; }
.icon-graduate:before { content: "\e62e"; }
.icon-graph:before { content: "\e62f"; }
.icon-headphones:before { content: "\e630"; }
.icon-heart:before { content: "\e631"; }
.icon-help:before { content: "\e632"; }
.icon-ice:before { content: "\e633"; }
.icon-inbox:before { content: "\e634"; }
.icon-key:before { content: "\e635"; }
.icon-lab:before { content: "\e636"; }
.icon-lab2:before { content: "\e637"; }
.icon-laptop:before { content: "\e638"; }
.icon-leaf:before { content: "\e639"; }
.icon-lightning:before { content: "\e63a"; }
.icon-like:before { content: "\e63b"; }
.icon-link:before { content: "\e63c"; }
.icon-location:before { content: "\e63d"; }
.icon-lock:before { content: "\e63e"; }
.icon-magnet:before { content: "\e63f"; }
.icon-mail:before { content: "\e640"; }
.icon-map:before { content: "\e641"; }
.icon-megaphone:before { content: "\e642"; }
.icon-message:before { content: "\e643"; }
.icon-microphone:before { content: "\e644"; }
.icon-money:before { content: "\e645"; }
.icon-music:before { content: "\e646"; }
.icon-news:before { content: "\e647"; }
.icon-paintbrush:before { content: "\e648"; }
.icon-paper-plane:before { content: "\e649"; }
.icon-pencil:before { content: "\e64a"; }
.icon-phone:before { content: "\e64b"; }
.icon-phone2:before { content: "\e64c"; }
.icon-photo:before { content: "\e64d"; }
.icon-pill:before { content: "\e64e"; }
.icon-portfolio:before { content: "\e64f"; }
.icon-refresh:before { content: "\e650"; }
.icon-rocket:before { content: "\e651"; }
.icon-safe:before { content: "\e652"; }
.icon-scissor:before { content: "\e653"; }
.icon-search2:before { content: "\e654"; }
.icon-shield:before { content: "\e655"; }
.icon-shirt:before { content: "\e656"; }
.icon-smiley:before { content: "\e657"; }
.icon-star:before { content: "\e658"; }
.icon-store:before { content: "\e659"; }
.icon-sun:before { content: "\e65a"; }
.icon-tablet:before { content: "\e65b"; }
.icon-tag:before { content: "\e65c"; }
.icon-target:before { content: "\e65d"; }
.icon-toilet-paper:before { content: "\e65e"; }
.icon-trash:before { content: "\e65f"; }
.icon-truck:before { content: "\e660"; }
.icon-umbrella:before { content: "\e661"; }
.icon-unlock:before { content: "\e662"; }
.icon-user:before { content: "\e663"; }
.icon-users:before { content: "\e664"; }
.icon-utensils:before { content: "\e665"; }
.icon-video:before { content: "\e666"; }
.icon-view:before { content: "\e667"; }
.icon-vinyl:before { content: "\e668"; }
.icon-volume:before { content: "\e669"; }
.icon-wrench:before { content: "\e66a"; }
.icon-monitor:before { content: "\e605"; }
.icon-lightbulb:before { content: "\e606"; }
.icon-arrow-right:before { content: "\e607"; }
.icon-arrow-left:before { content: "\e608"; }
.icon-streng:before { content: "\e600"; }
.icon-share:before { content: "\e604"; }
.icon-close:before { content: "\e601"; }
.icon-expand:before { content: "\e602"; }
.icon-twitter:before { content: "\f099"; }
.icon-facebook:before { content: "\f09a"; }
.icon-menu:before { content: "\f0c9"; }
.icon-google-plus:before { content: "\f0d5"; }
.icon-linkedin:before { content: "\f0e1"; }
.icon-youtube:before { content: "\f16a"; }
.icon-search:before { content: "\e603"; }
.icon-instagram:before { content: "\f16d"; }

	
	
/* ==========================================================================
   Grid Styles
   ========================================================================== */
   
.columns .col-1-2 {
	float: left;
	margin-left: 4%;
	width: 48%;
	}
	
.columns .col-1-4 {
	float: left;
	margin-left: 4%;
	width: 22%;
	}
	
.columns .col-3-4 {
	float: left;
	margin-left: 4%;
	width: 74%;
	}

.columns .col-1-3 {
	float: left;
	margin-left: 4%;
	width: 30.66666666666667%;
	}

.columns .col-2-3 {
	float: left;
	margin-left: 4%;
	width: 65.33333333333333%;
	}

.columns .last {
	margin-left: 0;
	}
	
.columns .last + * {
	clear: both;
	}
	
.columns .col-1-2:first-child,
.columns .col-1-4:first-child,
.columns .col-3-4:first-child,
.columns .col-1-3:first-child,
.columns .col-2-3:first-child {
	margin-left: 0;
	}
	
.columns:before,
.columns:after {
    content: " ";
    display: table;
	}

.columns:after {
    clear: both;
	}

.columns {
    *zoom: 1;
	}
	
	
/* ==========================================================================
   Custom Styles
   ========================================================================== */
   
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
   
.content {
	margin: 0 auto;
	max-width: 1100px;
	padding-left: 40px;
	padding-right: 40px;
	}
	
.contour {
	margin-top: 2em;
	}
	
.contourField {
	margin-bottom: 1em;
	}
	
.contourField .fieldLabel {
	float: left;
	padding-right: 1em;
	text-align: right;
	width: 30%;
	}
	
.contourField .form-element {
	float: left;
	width: 70%;
	}
	
.contourField .field-validation-error {
	color: #ef4035;
	display: block;
	margin-top: 0.25em;
	}
	
.contourIndicator {
	color: #ef4035;
	}
	
.contourNavigation {
	padding-left: 30%;
	}
	
.footer {
	background: #242425;
	background: -moz-linear-gradient(top, #353436 0%, #242425 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353436), color-stop(100%, #242425));
	background: -webkit-linear-gradient(top, #353436 0%, #242425 100%);
	background: -o-linear-gradient(top, #353436 0%, #242425 100%);
	background: -ms-linear-gradient(top, #353436 0%, #242425 100%);
	background: linear-gradient(to bottom, #353436 0%, #242425 100%);
	color: #5c5c60;
	font-weight: 700;
	letter-spacing: 0.075em;
	padding: 2.5em 0;
	text-align: center;
	text-transform: uppercase;
	}
	
.footer a {
	color: #adadb2;
	}
	
.footer a:hover {
	color: #fff;
	}
	
.footer .copyright {
	font-size: 0.75em;
	display: inline-block;
	margin: 0 2em 0 0;
	}
	
.footer a.credit {
	color: #5c5c60;
	font-size: 0.75em;
	}
	
.footer a.credit:hover {
	color: #adadb2;
	}
	
.footer a.credit .icon-streng {
	color: #de0d12;
	display: inline-block;
	vertical-align: middle;
	}
	
.footer .tagline {
	color: #adadb2;
	font-family: 'Calibri W01 Cust1', sans-serif;
	font-size: 0.75em;
	font-weight: 700;
	margin: 1em 0 1.5em 0;
	}
	
.footer .social-media {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
	}
	
.footer .social-media li {
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: top;
	}
	
.footer .social-media a {
	background: #ef4035;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1.75em;
	height: 2.25em;
	line-height: 2.25;
	text-align: center;
	width: 2.25em;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	}
	
.footer .social-media a:hover {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
	}
	
.footer-contact {
	font-size: 0.75em;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.footer-contact li {
	display: inline-block;
	vertical-align: top;
	}
	
.footer-contact li:before {
	content: "|";
	display: inline-block;
	padding: 0 0.5em;
	}
	
.footer-contact li:first-child:before {
	content: none;
	}
	
.footer-logo {
	display: block;
	margin: 0 auto;
	max-width: 182px;
	}
	
.footer-nav {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
	}
	
.footer-nav li {
	display: inline-block;
	margin: 0 1em;
	}
	
.footer-nav a {
	color: #adadb2;
	}
	
.footer-nav a:hover {
	color: #fff;
	}
	
.hero {
	overflow: hidden;
	padding-bottom: 2em;
	text-align: center;
	}

.hero a.photo-link {
	display: block;
	}
	
.hero .photo {
	display: block;
	}
	
.hero h1 {
	color: #fff;
	font-size: 3.875em;
	}

.hero h1 img {
	margin-left: 0.5em;
	vertical-align: middle;
	}
	
.hero h2 {
	font-size: 2.5em;
	margin: 0.25em 0;
	}
	
.hero h3 {
	color: #adadb2;
	font-family: 'Calibri W01 Cust1', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	}
	
.hero p {
	font-size: 1.125em;
	margin-top: 0;
	}
	
/* .hero .overlay {	
	display: none;
	left: 0;
	padding-top: 6%;
	position: absolute;
	top: 0;
	width: 100%;
	} */
	
.hp-features {
	background: url('/images/laptop-bg.jpg') 50% 50% no-repeat;
	padding: 2em 0;
	text-align: center;
	}
	
.hp-features .feature {
	border-left: 5px solid #e8e8e8;
	border-left: 5px solid rgba(27, 27, 28, 0.04);
	display: inline-block;
	max-width: 550px;
	padding: 0 4em;
	vertical-align: top;
	}
	
.hp-features .feature:first-child {
	border-left: none;
	}
	
.hp-features.cols-2 .feature {
	width: 49%;
	}
	
.hp-features.cols-3 .feature {
	width: 33%;
	}
	
.hp-features.cols-4 .feature {
	width: 24%;
	}

.hp-features [class^="icon-"],
.hp-features [class*=" icon-"] {
	color: #ef4035;
	font-size: 3.5em;
	}
	
.hp-features h2 {
	font-size: 1.875em;
	margin: 0.75em 0 0.25em 0;
	}
	
.hp-features p {
	margin-top: 0;
	}
	
.hp-news {
	padding: 2em 0;
	text-align: center;
	}
	
.hp-news .content {
	position: relative;
	}
	
.hp-news .news-item {
	padding: 0 8em;
	}
	
.hp-news h2 {
	font-size: 1.875em;
	}

.hp-news .navigation .prev,
.hp-news .navigation .next {
	background: none;
	color: #adadb2;
	font-family: 'lasalle';
	speak: none;
	font-size: 3.5em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin-top: -0.5em;
	padding: 0;
	position: absolute;
	top: 50%;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	
.hp-news .navigation .prev {
	left: 40px;
	}
	
.hp-news .navigation .next {
	right: 40px;
	}
	
.hp-news .navigation .prev:hover,
.hp-news .navigation .next:hover {
	color: #ef4035;
	}
	
.hp-news .navigation .prev:before {
	content: "\e608";
	}
	
.hp-news .navigation .next:before {
	content: "\e607";
	}
	
.hp-news .navigation .prev span,
.hp-news .navigation .next span {
	display: none;
	}
	
.hp-news .navigation ol {
	list-style: none;
	margin: 2em 0 0 0;
	padding: 0;
	}

.hp-news .navigation ol li {
	border: 2px solid #ef4035;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 0.875em;
	margin: 0 0.15em;
	overflow: hidden;
	text-indent: -9999em;
	width: 0.875em;
	vertical-align: top;
	}
	
.hp-news .navigation ol li:hover {
	border-color: #5c5c60;
	}
	
.hp-news .navigation ol li.active {
	background: #ef4035;
	border-color: #ef4035;
	}
	
hr {
	background: #dedee0;
	border: none;
	margin: 2em 0;
	height: 1px;
	overflow: hidden;
	}
  
.img-left {
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
	}
	
.img-right {
	float: right;
	margin: 1.5em 0 1.5em 1.5em;
	}
	
.interior {
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding-top: 116px;
	}
	
.interior-content {
	margin: 0 auto;
	max-width: 880px;
	padding: 3em 40px 0 40px;
	}
	
.interior-content.with-rail {
	float: left;
	margin-bottom: -9999px;
	max-width: none;
	padding: 3em 4em 9999px 4em;
	width: 70%;
	}
	
.interior-rail {
	border-left: 1px solid #dedee0;
	float: left;
	margin-bottom: -9999px;
	padding: 4em 2em 9999px 2em;
	width: 30%;
	}
	
.mod-header {
	border-top: 1px solid #dedee0;
	margin: 4em 0 1em 0;
	padding-top: 1em;
	position: relative;
	}
	
.mod-header:before {
	background: #ef4035;
	content: "\0020";
	height: 5px;
	left: 0;
	position: absolute;
	top: -1px;
	width: 3em;
	}
	
.interior-rail > .mod-header:first-child {
	margin-top: 0;
	}
	
.interior-rail .testimonial blockquote {
	margin: 0;
	position: relative;
	text-indent: 2.25em;
	}
	
.interior-rail .testimonial blockquote:before,
.interior-rail .testimonial blockquote:after {
	color: #ef4035;
	font-size: 4.5em;
	font-family: Georgia, serif;
	line-height: 1;
	position: absolute;
	text-indent: 0;
	}
	
.interior-rail .testimonial blockquote:before {
	content: "\201C";
	left: 0;
	margin-top: -6px;
	}
	
.interior-rail .testimonial blockquote:after {
	content: "\201D";
	margin: -6px 0 0 5px;
	}
	
.interior-rail .testimonial .author {
	color: #1b1b1c;
	}
	
.interior-shadow {
	background: url('/images/interior-shadow.png') 50% 0 no-repeat;
	margin: 0 auto;
	max-width: 1152px;
	overflow: hidden;
	padding: 26px 26px 3em 26px;
	}
	
.list-item {
	border-bottom: 1px solid #dedee0;
	padding: 2em 0;
	}
	
.list-item .thumbnail {
	float: left;
	margin: 0.25em 4% 0 0;
	text-align: center;
	width: 16%;
	}
	
.list-item .item-info {
	float: left;
	width: 80%;
	}
	
.list-item h3 {
	margin: 0;
	}
	
.list-item .date {
	color: #adadb2;
	display: block;
	margin-bottom: 0.5em;
	}
	
.list-item p {
	margin: 0;
	}
	
a.login {
	color: #fff;
	display: inline-block;
	font-size: 0.875em;
	font-weight: 700;
	margin-right: 1em;
	padding: 5px 0;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	vertical-align: middle;
	}

a.login:hover {
	border-bottom: 5px solid #ef4035;
	padding-bottom: 0;
	}

.login-search {
	position: absolute;
	right: 40px;
	top: 0;
	}
	
a.more {
	white-space: nowrap;
	}
	
a.more:after {
	font-family: 'lasalle';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e607";
	display: inline-block;
	font-size: 0.5em;
	margin-left: 0.5em;
	vertical-align: middle;
	}
	
.page-header {
	background: #1b1b1c;
	background: rgba(0,0,0,0.6);
	height: 88px;
	line-height: 88px;
	padding: 0 2em;
	overflow: hidden;
	}
	
.page-header h1 {
	color: #fff;
	float: left;
	line-height: 88px;
	margin: 0;
	}
	
.page-header .breadcrumbs {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.page-header .breadcrumbs li {
	color: #adadb2;
	display: inline-block;
	padding-left: 0.25em;
	vertical-align: middle;
	}
	
.page-header .breadcrumbs li:before {
	content: "\e607";
	display: inline-block;
	vertical-align: middle;
	font-size: 0.375em;
	margin-right: 1.333333333333333em;
	font-family: 'lasalle';
	speak: none;
	left: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	
.page-header .breadcrumbs li:first-child:before {
	content: none;
	}
	
.page-header .breadcrumbs a {
	color: #fff;
	}
	
.pagination {
	margin-top: 2em;
	text-align: center;
	}
	
.pagination ul {
	display: inline-block;
	font-weight: 700;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.pagination li {
	display: inline-block;
	}
	
.pagination .disabled {
	color: #adadb2;
	padding: 0.25em 0.75em;
	}
	
.pagination .active {
	background: #1b1b1c;
	color: #fff;
	padding: 0.25em 0.75em;
	}
	
.pagination a {
	display: block;
	padding: 0.25em 0.75em;
	}
	
.pagination a:hover {
	background: #ef4035;
	color: #fff;
	}
	
.pagination .arrow i {
	font-size: 0.75em;
	}
	
.search {
	display: inline-block;
	background: #fff;
	font-size: 0.875em;
	vertical-align: middle;
	}
	
.search input {
	background: none;
	border: none;
	padding: 0.5em 34px 0.5em 0.75em;
	width: 180px;
	}
	
.search button {
	background: none;
	color: #adadb2;
	height: 100%;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 34px;
	}
	
.search button:hover,
.search button:focus {
	background: #ef4035;
	color: #fff;
	}
	
.search-result {
	border-bottom: 1px solid #dedee0;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	}
	
.search-result .clear-filter {
	background: #adadb2;
	border-radius: 0.25em;
	display: inline-block;
	color: #fff;
	font-family: 'Calibri W01 Cust1', sans-serif;
	font-size: 0.4666666666666667em;
	margin-left: 1em;
	padding: 0.25em 0.5em;
	vertical-align: middle;
	}
	
.search-result .clear-filter:hover {
	background: #ef4035;
	}

.search-result .clear-filter i {
	display: inline-block;
	font-size: 0.7142857142857143em;
	margin-right: 0.15em;
	}
	
.search-results {
	border-top: 1px solid #dedee0;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.search-results li {
	border-bottom: 1px solid #dedee0;
	padding: 1.5em;
	}

.search-results h3 {
	margin: 0;
	}

.search-results p {
	margin: 0;
	}
	
.site-header {
	position: absolute;
	width: 100%;
	z-index: 100;
	}
	
.site-header .content {
	max-width: 1180px;
	padding-top: 2.5em;
	position: relative;
	}
	
.site-logo {
	display: inline-block;
	vertical-align: top;
	}
	
.site-logo img {
	display: block;
	}
	
.site-map > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.site-map .category {
	border-top: 1px solid #dedee0;
	padding: 1em 0 3em 0;
	position: relative;
	}
	
.site-map .category:last-child {
	padding-bottom: 0;
	}
	
.site-map .category:before {
	background: #ef4035;
	content: "\0020";
	height: 5px;
	left: 0;
	position: absolute;
	top: -1px;
	width: 3em;
	}
	
.site-map h3 {
	margin: 0 0 0.5em 0;
	}
	
.nav-icon,
.site-nav .subnav-icon {
	display: none;
	}
	
.site-nav {
	bottom: -7px;
	position: absolute;
	right: 40px;
	z-index: 9999;
	}
	
.site-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.site-nav > ul > li {
	background: url('/images/blank.gif'); /* thank IE for this! */
	display: inline-block;
	margin-left: 3em;
	vertical-align: middle;
	}
	
.site-nav > ul > li > span {
	background: url('/images/blank.gif'); /* thank IE for this! */
	color: #fff;
	cursor: default;
	display: block;
	font-size: 1.125em;
	font-weight: 700;
	letter-spacing: 0.075em;
	margin-bottom: 11px;
	padding-bottom: 9px;
	text-transform: uppercase;
	}
	
.site-nav > ul > li:hover > span {
	border-bottom: 5px solid #ef4035;
	padding-bottom: 4px;
	}
	
.site-nav .menu {
	box-shadow: 0 0 16px rgba(27, 27, 28, .16);
	background: #fff;
	display: none;
	left: 1.5em;
	min-width: 100%;
	padding: 1.5em;
	position: absolute;
	text-align: left;
	text-transform: none;
	top: 100%;
	width: 100%;
	z-index: 9999;
	}
	
.site-nav .menu > li {
	float: left;
	padding: 0.25em 1em;
	width: 50%;
	}
	
.site-nav .menu > li > a {
	color: #353538;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	}

.site-nav .menu .category-links a {
	color: #5c5c60;
	}
	
.site-nav .menu a:hover {
	color: #ef4035;
	}
	
.site-nav > ul > li:hover .menu {
	display: block;
	}
	
.site-nav .nav-login {
	display: none;
	}

.tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	}
   
.tag-list li {
	display: inline-block;
	vertical-align: top;
	}
	
.tag-list a {
	display: block;
	padding: 0.25em 0.5em;
	}
	
.tag-list a:hover {
	background: #ef4035;
	color: #fff;
	}
.testimonials .testimonial {
	border-top: 1px solid #dedee0;
	padding: 2em;
	text-align: center;
	}
	
.testimonials .testimonial:first-child {
	border-top: none;
	}
	
.testimonials blockquote {
	color: #1b1b1c;
	display: inline-block;
	font-family: 'Cambria W01', sans-serif;
	font-size: 1.25em;
	font-weight: 400;
	margin: 0;
	padding: 0 2em;
	position: relative;
	}
	
.testimonials blockquote:before,
.testimonials blockquote:after {
	color: #ef4035;
	font-size: 3.5em;
	font-family: Georgia, serif;
	line-height: 1;
	position: absolute;
	text-indent: 0;
	top: -0.05em;
	}
	
.testimonials blockquote:before {
	content: "\201C";
	left: 0;
	}
	
.testimonials blockquote:after {
	content: "\201D";
	right: 0;
	}
	
.testimonials .author {
	margin-bottom: 0;
	}
	
/* ==========================================================================
   Color Styles
   ========================================================================== */
   
.red {
	color: #ef4035;
	}
	
.dark-grey {
	color: #666666;
	}
	
.white {
	color: #fff;
	}
	
.black {
	color: #1b1b1c;
	}

   
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1500px) {
	.hero .photo {
		margin-left: -15%;
		max-width: none;
		width: 130%;
		}
		
	.hp-features.cols-4 .feature {
		padding: 0 2em;
		}
	
}

@media only screen and (max-width: 1200px) {
	.hero .photo {
		margin-left: -25%;
		width: 150%;
		}
		
	.hp-features.cols-3 .feature {
		padding: 0 2em;
		}
		
	.hp-features.cols-4 .feature {
		margin: 2em 0;
		width: 49%;
		}
		
	.hp-features.cols-4 .feature:nth-child(3) {
		border-left: none;
		}
		
	.interior-content.with-rail {
		padding-left: 40px;
		padding-right: 40px;
		}
		
	.interior-rail {
		padding-left: 40px;
		padding-right: 40px;
		}
		
	.interior-shadow {
		background: none;
		max-width: none;
		padding-left: 0;
		padding-right: 0;
		}
		
	.page-header {
		padding: 0 40px;
		}
		
	.site-nav > ul > li {
		margin: 0 0 0 1.5em;
		}
}

@media only screen and (max-width: 1000px) {
	.hp-features.cols-3 .feature {
		border-left: none;
		}
		
	.interior-content.with-rail,
	.interior-rail {
		float: none;
		margin: 0 auto;
		max-width: 880px;
		padding: 3em 40px 0 40px;
		width: auto;
		}
	
	.interior-rail {
		border-left: none;
		}
		
	.interior-rail .mod-header {
		margin-top: 3em;
		}
		
	a.login {
		display: none;
		}
		
	.login-search {
		height: 54px;
		top: 14px;
		right: 74px;
		position: absolute;
		width: auto;
		}
		
	.nav-icon {
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 1.125em;
		height: 54px;
		line-height: 54px;
		position: absolute;
		right: 20px;
		text-align: center;
		text-transform: uppercase;
		top: 14px;
		width: 54px;
		}

	.nav-icon.active {
		background: #ef4035;
		}
		
	.search {
		background: none;
		display: block;
		font-size: 1em;
		position: absolute;
		right: 0;
		top: 0;
		width: 220px;
		}
		
	.search input {
		border-bottom: 1px solid #fff;
		border-bottom: 1px solid rgba(255,255,255,0.35);
		color: #fff;
		display: inline-block;
		vertical-align: middle;
		padding: 4px 0;
		width: 160px;
		}
		
	.search input:focus {
		border-bottom: 1px solid #fff;
		}
		
	.search input::-webkit-input-placeholder {
		color: #fff;
		color: rgba(255,255,255,0.5);
		}

	.search input:-moz-placeholder {
		color: #fff;
		color: rgba(255,255,255,0.5);
		}
		
	.search input::-moz-placeholder {
		color: #fff;
		color: rgba(255,255,255,0.5);
		}
		
	.search input:-ms-input-placeholder {
		color: #fff;
		color: rgba(255,255,255,0.5);
		}
		
	.search button {
		color: #fff;
		display: inline-block;
		font-size: 1.125em;
		height: 54px;
		line-height: 54px;
		padding: 0;
		position: static;
		width: 55px;
		vertical-align: middle;
		}
		
	.search button .icon-search {
		display: block;
		}
		
	.site-header .content {
		padding-top: 0;
		}
		
	.site-logo {
		margin: 1em 0;
		}
		
	.site-logo img {
		max-height: 50px;
		}
		
	.site-nav {
		background: #1b1b1c;
		bottom: auto;
		display: none;
		left: 0;
		right: auto;
		text-align: left;
		top: 100%;
		width: 100%;
		}
		
	.site-nav .subnav-icon {
		color: #fff;
		display: block;
		font-size: 0.875em;
		height: 54px;
		line-height: 54px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 55px;
		z-index: 2;
		}

	.site-nav .active .subnav-icon:before {
		content: '\e601';
		}
	
	.site-nav > ul > li {
		border-top: 1px solid #272729;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		}
		
	.site-nav > ul > li.active {
		background: #ef4035
		}
		
	.site-nav > ul > li:first-child {
		border-top: none;
		}
		
	.site-nav > ul > li > span {
		cursor: inherit;
		height: 54px;
		line-height: 54px;
		margin: 0;
		padding: 0 20px;
		overflow: visible;
		}
		
	.site-nav > ul > li.active > span {
		color: #fff;
		}
		
	.site-nav > ul > li:hover > span {
		border: none;
		padding: 0 20px;
		}
		
	.site-nav > ul > li > span:before,
	.site-nav > ul > li > span:after {
		content: none;
		display: none;
		}
		
	.site-nav > ul > li > a {
		color: #fff;
		display: block;
		font-size: 1.125em;
		font-weight: 700;
		height: 54px;
		letter-spacing: 0.075em;
		line-height: 54px;
		padding: 0 20px;
		overflow: visible;
		text-transform: uppercase;
		}
		
	.site-nav > ul > li > a:hover {
		color: #ef4035;
		}
		
	.site-nav > ul > li:hover .menu {
		display: none;
		}
		
	.site-nav .menu {
		background: #272729;
		box-shadow: none;
		letter-spacing: normal;
		line-height: 1.2;
		margin-left: 0;
		padding: 1em 0;
		position: static;
		width: auto;
		}
		
	.site-nav .menu > li {
		float: none;
		padding: 0;
		margin: 0;
		width: auto;
		}
		
	.site-nav .menu > li > a {
		color: #fff;
		font-weight: 400;
		letter-spacing: normal;
		text-transform: none;
		}
		
	.site-nav .menu li a {
		display: block;
		padding: 0.5em 20px;
		}
		
	.site-nav .menu .category-links a {
		color: #adadb2;
		padding: 0.25em 34px;
		}
		
	.site-nav .menu .category-links a:hover {
		color: #ef4035;
		}
			
	.site-nav > ul > li.active .menu {
		display: block;
		}
			
	.site-nav .nav-login {
		display: block;
		}
}

@media only screen and (max-width: 800px) {
	.columns .col-1-3,
	.columns .col-2-3,
	.columns .col-1-4,
	.columns .col-1-2,
	.columns .col-3-4 {
		float: none;
		margin: 0 0 3em 0;
		width: auto;
		}
		
	.footer .social-media li {
		margin: 0.5em;
		}
		
	.hero .photo {
		margin-left: -40%;
		width: 180%;
		}
		
	.hp-features.cols-2,
	.hp-features.cols-3,
	.hp-features.cols-4 {
		background: #f4f4f5;
		padding: 0 40px;
		}
		
	.hp-features.cols-2 .feature,
	.hp-features.cols-3 .feature,
	.hp-features.cols-4 .feature {
		border-top: 5px solid #e8e8e8;
		border-left: none;
		display: block;
		margin: 0;
		max-width: none;
		padding: 2em 0;
		width: auto;
		}
		
	.hp-features.cols-2 .feature:first-child,
	.hp-features.cols-3 .feature:first-child,
	.hp-features.cols-4 .feature:first-child {
		border-top: none;
		}
		
	.hp-news .news-item {
		padding: 0;
		}
		
	.hp-news .navigation {
		position: relative;
		}
		
	.hp-news .navigation .prev,
	.hp-news .navigation .next {
		font-size: 2.5em;
		margin-top: -0.55em;
		}
		
	.hp-news .navigation .prev {
		left: 50%;
		margin-left: -100px;
		}
		
	.hp-news .navigation .next {
		left: 50%;
		margin-left: 60px;
		right: auto;
		}
		
	.page-header {
		background: #1b1b1c;
		height: auto;
		line-height: inherit;
		padding: 1em 40px;
		overflow: visible;
		}
		
	.page-header h1 {
		float: none;
		line-height: 1.2;
		}
		
	.page-header .breadcrumbs {
		border-top: 1px solid #272729;
		float: none;
		padding-top: 0.5em;
		margin-top: 0.5em;
		}
		
	.testimonials .testimonial {
		padding: 2em 0;
		}
		
	.testimonials blockquote {
		display: block;
		padding: 0;
		}
		
	.testimonials blockquote:before,
	.testimonials blockquote:after {
		color: #ef4035;
		font-size: 1em;
		line-height: 1;
		position: static;
		}
}

@media only screen and (max-width: 600px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1em; }
	
	.content {
		padding-left: 20px;
		padding-right: 20px;
		}
		
	.contourField .fieldLabel {
		display: block;
		float: none;
		margin-bottom: 0.25em;
		padding-right: 0;
		text-align: left;
		width: auto;
		}
		
	.contourField .form-element {
		float: none;
		width: auto;
		}
		
	.footer .copyright {
		display: block;
		margin: 1em 0;
		}
		
	.footer-contact li {
		display: block;
		}
		
	.footer-contact li:before {
		content: none;
		}
	
	.footer-nav li {
		display: block;
		margin: 0;
		text-align: left;
		}
	
	.footer-nav li a {
		border-top: 1px solid #3d3d41;
		display: block;
		padding: 0.75em 0;
		}
		
	.footer-nav li:first-child a {
		border-top: none;
		}
		
	.hero {
		padding-top: 44px;
		}
		
	.hero h2 {
		font-size: 2em;
		}
		
	.hero h3 {
		font-size: 1em;
		}
		
	.hero .photo {
		margin-left: -50%;
		width: 200%;
		}
		
	.hp-features.cols-2,
	.hp-features.cols-3,
	.hp-features.cols-4 {
		padding: 0 20px;
		}
		
	.hp-features h2 {
		font-size: 1.5em;
		}
		
	.hp-news h2 {
		font-size: 1.5em;
		}
		
	.img-left,		
	.img-right {
		float: none;
		margin: 1em 0;
		}
		
	.interior {
		background: none !important;
		padding-top: 45px;
		}
		
	.interior-content,
	.interior-content.with-rail,
	.interior-rail {
		padding: 0 20px;
		}
		
	.interior-rail {
		margin-top: 3em;
		}
		
	.interior-shadow {
		padding: 0 0 2em 0;
		}
		
	.list-item .thumbnail {
		float: none;
		margin: 0 0 0.5em 0;
		text-align: left;
		width: auto;
		}
		
	.list-item .item-info {
		float: none;
		width: auto;
		}
		
	.login-search {
		border-bottom: 1px solid #dedee0;
		height: 45px;
		left: 0;
		right: auto;
		top: 100%;
		width: 100%;
		}
		
	.nav-icon {
		right: 0;
		}
		
	.nav-icon.active {
		background: none;
		color: #ef4035;
		}
		
	.page-header {
		background: none;
		padding-left: 20px;
		padding-right: 20px;
		}
		
	.page-header h1 {
		color: #1b1b1c;
		}
		
	.page-header .breadcrumbs {
		display: none;
		}
		
	.search {
		background: #fff;
		left: 0;
		right: auto;
		width: 100%;
		}
		
	.search input {
		border: none;
		color: #353538;
		height: 44px;
		padding: 0 74px 0 20px;
		width: 100%;
		}
		
	.search input:focus {
		border: none;
		}
		
	.search input::-webkit-input-placeholder {
		color: #adadb2;
		}

	.search input:-moz-placeholder {
		color: #adadb2;
		}
		
	.search input::-moz-placeholder {
		color: #adadb2;
		}
		
	.search input:-ms-input-placeholder {
		color: #adadb2;
		}
		
	.search button {
		color: #adadb2;
		height: 44px;
		line-height: 44px;
		position: absolute;
		right: 0;
		top: 0;
		}
		
	.search button:hover {
		color: #fff;
		}		
		
	.search button:focus {
		color: #fff;
		}
		
	.search-results li {
		padding: 1.5em 0;
		}
		
	.site-header {
		background: #242425;
		background: -moz-linear-gradient(top, #353436 0%, #242425 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353436), color-stop(100%, #242425));
		background: -webkit-linear-gradient(top, #353436 0%, #242425 100%);
		background: -o-linear-gradient(top, #353436 0%, #242425 100%);
		background: -ms-linear-gradient(top, #353436 0%, #242425 100%);
		background: linear-gradient(to bottom, #353436 0%, #242425 100%);
		position: static;
		width: auto;
		}
		
	.site-logo {
		margin: 1em 34px 1em 0;
		}

}

@media only screen and (min-width: 1001px) {
	.site-nav {
		display: block !important;
		}
}
		
/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
	}

.clearfix:after {
    clear: both;
	}

.clearfix {
    *zoom: 1;
	}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
		}

    a,
    a:visited {
        text-decoration: underline;
		}

/*     a[href]:after {
        content: " (" attr(href) ")";
		}

    abbr[title]:after {
        content: " (" attr(title) ")";
		} */

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
		}

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
		}

    thead {
        display: table-header-group; /* h5bp.com/t */
		}

    tr,
    img {
        page-break-inside: avoid;
		}

    img {
        max-width: 100% !important;
		}

    @page {
        margin: 1cm;
		}

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
		}

    h2,
    h3 {
        page-break-after: avoid;
		}	
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
