<div ng-controller="FontIconPicker">
    <select ng-model="model.value" class="umb-editor font-icon-picker" id="{{model.alias}}">
        <option></option>
        <option>icon-alert</option>
        <option>icon-atom</option>
        <option>icon-bag</option>
        <option>icon-battery</option>
        <option>icon-bell</option>
        <option>icon-bicycle</option>
        <option>icon-book</option>
        <option>icon-browser</option>
        <option>icon-calculator</option>
        <option>icon-calendar</option>
        <option>icon-camera</option>
        <option>icon-cart</option>
        <option>icon-cassette</option>
        <option>icon-cd</option>
        <option>icon-check</option>
        <option>icon-cinema</option>
        <option>icon-clip</option>
        <option>icon-clipboard</option>
        <option>icon-clock</option>
        <option>icon-clock2</option>
        <option>icon-cloud</option>
        <option>icon-coffee</option>
        <option>icon-comments</option>
        <option>icon-compass</option>
        <option>icon-config</option>
        <option>icon-copy</option>
        <option>icon-cup</option>
        <option>icon-database</option>
        <option>icon-drop</option>
        <option>icon-expand3</option>
        <option>icon-file</option>
        <option>icon-flag</option>
        <option>icon-flowchart</option>
        <option>icon-game</option>
        <option>icon-gamepad</option>
        <option>icon-gear</option>
        <option>icon-globe</option>
        <option>icon-graduate</option>
        <option>icon-graph</option>
        <option>icon-headphones</option>
        <option>icon-heart</option>
        <option>icon-help</option>
        <option>icon-ice</option>
        <option>icon-inbox</option>
        <option>icon-key</option>
        <option>icon-lab</option>
        <option>icon-lab2</option>
        <option>icon-laptop</option>
        <option>icon-leaf</option>
        <option>icon-lightning</option>
        <option>icon-like</option>
        <option>icon-link</option>
        <option>icon-location</option>
        <option>icon-lock</option>
        <option>icon-magnet</option>
        <option>icon-mail</option>
        <option>icon-map</option>
        <option>icon-megaphone</option>
        <option>icon-message</option>
        <option>icon-microphone</option>
        <option>icon-money</option>
        <option>icon-music</option>
        <option>icon-news</option>
        <option>icon-paintbrush</option>
        <option>icon-paper-plane</option>
        <option>icon-pencil</option>
        <option>icon-phone</option>
        <option>icon-phone2</option>
        <option>icon-photo</option>
        <option>icon-pill</option>
        <option>icon-portfolio</option>
        <option>icon-refresh</option>
        <option>icon-rocket</option>
        <option>icon-safe</option>
        <option>icon-scissor</option>
        <option>icon-search2</option>
        <option>icon-shield</option>
        <option>icon-shirt</option>
        <option>icon-smiley</option>
        <option>icon-star</option>
        <option>icon-store</option>
        <option>icon-sun</option>
        <option>icon-tablet</option>
        <option>icon-tag</option>
        <option>icon-target</option>
        <option>icon-toilet-paper</option>
        <option>icon-trash</option>
        <option>icon-truck</option>
        <option>icon-umbrella</option>
        <option>icon-unlock</option>
        <option>icon-user</option>
        <option>icon-users</option>
        <option>icon-utensils</option>
        <option>icon-video</option>
        <option>icon-view</option>
        <option>icon-vinyl</option>
        <option>icon-volume</option>
        <option>icon-wrench</option>
        <option>icon-monitor</option>
        <option>icon-lightbulb</option>
        <option>icon-arrow-right</option>
        <option>icon-arrow-left</option>
        <option>icon-close</option>
        <option>icon-expand</option>
        <option>icon-twitter</option>
        <option>icon-facebook</option>
        <option>icon-menu</option>
        <option>icon-google-plus</option>
        <option>icon-linkedin</option>
        <option>icon-youtube</option>
        <option>icon-search</option>
        <option>icon-new-calendar</option>
        <option>icon-new-document</option>
        <option>icon-new-clipboard</option>
        <option>icon-new-lightbulb</option>
        <option>icon-new-monitor</option>
        <option>icon-new-monitor-phone</option>
        <option>icon-new-reward</option>
        <option>icon-new-trash</option>
        <option>icon-new-integration</option>
    </select>
</div>