@using System.Configuration;
@using Umbraco.Web.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	int configNodeId = Convert.ToInt32(ConfigurationManager.AppSettings["ConfigNode"]);
	IPublishedContent configNode = Umbraco.TypedContent(configNodeId);
}

<div class="footer_nav">
    <ul>
        @foreach (var item in configNode.GetPropertyValue<RelatedLinks>("footerNavigation"))
        {
            string linkTarget = (item.NewWindow == true) ? "target=\"_blank\"" : string.Empty;
            <li><a href="@item.Link" @Html.Raw(linkTarget)>@item.Caption</a></li>
        }
    </ul>
</div>