@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Configuration;

@{
	int configNodeId = Convert.ToInt32(ConfigurationManager.AppSettings["ConfigNode"]);
	dynamic configNode = Umbraco.Content(configNodeId);
}

<ul class="footer-nav clearfix">
	@foreach (var item in configNode.footerNavigation) {
		var linkTarget = (item.newWindow == true) ? " target=\"_blank\"" : string.Empty;
		<li><a href="@item.link" @Html.Raw(linkTarget)>@item.title</a></li>
	}
</ul> <!-- /footer-nav -->