@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	dynamic newsNode = Umbraco.Content(1131);
}

<div class="hp-news">
	<div class="content">
		
		@foreach(var newsArticle in newsNode.Children.OrderBy("date desc").Take(4)) {
			string articleTitle = !string.IsNullOrEmpty(newsArticle.title) ? newsArticle.title : newsArticle.Name;
			
			<div class="news-item">
				<h2><a href="@newsArticle.Url">@articleTitle</a></h2>
				<p>@newsArticle.teaser <a href="@newsArticle.Url">Read More</a></p>
			</div> <!-- /news-item -->
		}
		
	</div> <!-- /content -->
</div> <!-- /hp-news -->