@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Interior.cshtml";
}
<div class="interior-content with-rail">
	@CurrentPage.bodyText
	@Umbraco.RenderMacro("umbracoContour.RazorRenderForm", new {FormGuid="11df48d9-23b0-4ed9-9eaa-0f3bc181c744"})
</div> <!-- /interior-content -->
	<div class="interior-rail">
	@CurrentPage.topContent
	@{Html.RenderPartial("_SidebarTestimonials");}
	@CurrentPage.bottomContent
</div> <!-- /interior-rail -->