@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Interior.cshtml";
}

<div class="interior-content with-rail">
	@CurrentPage.bodyText
	@{Html.RenderPartial("_ItemList");}
</div> <!-- /interior-content -->

<div class="interior-rail">
	@CurrentPage.topContent
	@{Html.RenderPartial("_SidebarTags");}
	@{Html.RenderPartial("_SidebarTestimonials");}
	@CurrentPage.bottomContent
</div> <!-- /interior-rail -->